___

<a href='https://www.youtube.com/@TechWithDaveworld'><img src='../TechWithDaveworldLOGO.png'/></a>
___
<center><em>Content Copyright by Tech With Daveworld</em></center>

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these.

Double Click HERE to edit this markdown cell and write answers.

Numbers: are the basic numeric values

Strings: are alphabetic values and can be recognized with the use of ""

Lists: are mutable, can either be numeric or strings but will be recognized with the use of [] 

Tuples: similar to lists, but are immutable  and uses ()

Dictionaries: allocates values to its keys and uses {}

#### Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [7]:
4*(80/10)+5**3-56.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

# 44

In [8]:
4 * (6 + 5)

44

# 29

In [9]:
 4 * 6 + 5

29

# 34

In [10]:
 4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [ ]:
floating

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:
0.5

In [ ]:
# Square:
**2

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [19]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [21]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [23]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [24]:
# Method 2:
s[4]

'o'

Write a python code that grabs domain out of the email address:

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [26]:
email = "test@email.com"

In [27]:
email

'test@email.com'

In [29]:
email[5:]

'email.com'

## Lists

Build this list [0,0,0] two separate ways.

In [ ]:
# Method 1:

In [ ]:
# Method 2:

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [32]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = "goodbye"

In [33]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [34]:
list4 = [5,3,4,6,1]

list4.sort()

In [35]:
list4

[1, 3, 4, 5, 6]

Given this nested list, use indexing to grab the word "hello"

In [36]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [40]:
lst[3][1][2][0]

'hello'

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [46]:
d = {'simple_key':'hello'}
# Grab 'hello'
d["simple_key"]

'hello'

In [48]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [66]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [76]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>
tuples are immutable while lists are mutable

How do you create a tuple?<br><br>
()

## Sets

What is unique about a set?<br><br>
it avoids repetition
each value is one of its kind in a given set

Use a set to find the unique values of the list below:

In [79]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [80]:
# Answer before running cell false
2 > 3

False

In [81]:
# Answer before running cell false
3 <= 2

False

In [82]:
# Answer before running cell false
3 == 2.0

False

In [83]:
# Answer before running cell true
3.0 == 3

True

In [84]:
# Answer before running cell false
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [85]:
# two nested lists false
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!