# Example 1

In [1]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

# Example 2

In [4]:
for num in list1:
    if num % 2 == 0:
        print(f"the number {num} is an even number")
    else:
        print(f"the number {num} is an odd number")

the number 1 is an odd number
the number 2 is an even number
the number 3 is an odd number
the number 4 is an even number
the number 5 is an odd number
the number 6 is an even number
the number 7 is an odd number
the number 8 is an even number
the number 9 is an odd number
the number 10 is an even number

# Example 3

In [5]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
list_sum = 0
for num in list1:
    list_sum = list_sum + num

In [10]:
print(list_sum)

55

# Example 4

In [11]:
for letter in "this is a string":
    print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g

# example

In [12]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
even_sum = 0
odd_sum = 0

for num in list1:
    if num % 2 == 0:
        even_sum += num
    else:
        odd_sum += num

print(f"total even sum is {even_sum}")
print(f"total odd sum is {odd_sum}")

total even sum is 30
total odd sum is 25